/* Work item list */
.work-item-list {
    margin-top: 24px;
    margin-right: 40px;
    margin-bottom: 44px;
    margin-left: 40px;
    background-color: white;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    background-image: linear-gradient(to top, rgb(230, 227, 227), white);
  }
  
  .work-item-list h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .work-items-container {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Work item */
  .work-item {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .work-item:hover {
    transform: translateY(-5px);
  }
  
  .work-item-content {
    flex: 1;
  }
  
  .work-item p {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .add-button {
    background-color: #38428b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color: #232172;
  }
  
  .created-at {
    padding-top: 4px;
    font-size: 12px !important;
    color: rgb(165, 165, 165) !important;
    font-weight: 300; /* Thin font weight */
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
  }
  